{%extends 'base_template.html'%}

{%block head%}
<LINK REL=StyleSheet HREF="/css/forms.css" TYPE="text/css"/>
<style>
#added_message{
width:100%;
text-align:center;
font-weight:bold';
font-size:larger;
padding:5px 0;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script>
$(function(){
	$("#id_birthday").datepicker({
		changeYear:true,
		yearRange:'-100:+0',
		dateFormat:'yy-mm-dd'
	})
})

function submitForm(){
	$.blockUI()
	form = $("form[name='add_scout_form']")
	values = getJsonValues(form)
	url = "/user/add_scout/"
	$.post(url,values,function(data){
		data.form = form
		doSuccess(data, function(){
			$("#added_message").html(values['first_name']+" added to {{user.profile.troop}}")
		},$.unblockUI())
	})
}

</script>
{%endblock%}

{%block body%}
<form class="blue" method="POST" name='add_scout_form'>
{% csrf_token %}
<h1>Add member for Troop {{user.profile.troop}}</h1>
<input type="hidden" id="troop" name="troop" value='{{user.profile.troop.id}}'/>
<input type="hidden" id="position" name="position" value='{{boyscout.id}}'/>

<label for='id_first_name'>First name:</label>{{form.first_name}}<br/>
{{form.first_name.errors}}
<label for='id_last_name'>Last name:</label>{{form.last_name}}<br/>
{{form.last_name.errors}}
<label for='id_nickname'>Nickname:</label>{{form.nickname}}<br/>
{{form.nickname.errors}}
<label for='id_login_name'>Login:</label>{{form.login_name}}<br/>
{{form.login_name.errors}}
<label for='id_birthday'>Birthday:</label>{{form.birthday}}<br/>
{{form.birthday.errors}}
<label for='id_phone_number'>Phone Number:</label>{{form.phone_number}}<br/>
{{form.phone_number.errors}}
<label for='id_state'>State:</label>{{form.state}}<br/>
{{form.state.errors}}
<label for='id_city'>City:</label>{{form.city}}<br/>
{{form.city.errors}}
<label for='id_street1'>Street1:</label>{{form.street1}}<br/>
{{form.street1.errors}}
<label for='id_street2'>Street2:</label>{{form.street2}}<br/>
{{form.street2.errors}}
<label for='id_position'>Position:</label>{{form.position}}<br/>
{{form.position.errors}}

<div class='red' id='added_message'>&nbsp;</div>

<div class="button" onclick='submitForm()'>Add</button>
</form>

{%endblock%}
