{%extends 'base_template.html'%}
{%block head%}
<LINK REL=StyleSheet HREF="/css/forms.css" TYPE="text/css"/>
<style>
body{
    background-color:#efeacc;
}
#added_message{
    width:100%;
    text-align:center;
    font-weight:bold';
    font-size:larger;
    padding:5px 0;
}
span.req{
    color:#b31f36;
    font-size:1.3em;
    line-height:1em;
    margin-right:4px;
}
</style>

<script>
$(function(){
	
	var req_fields = ['first_name', 'last_name', 'email', 'position']
	for(field in req_fields){
		f = $("label[for='id_"+req_fields[field]+"']").prepend("<span class='req'>*</span>")
	}
	
	
	$("#id_bd_string").datepicker({
		changeYear:true,
		changeMonth:true,
		yearRange:'-100:+0',
		dateFormat:'M dd, yy',
		beforeShow: function(){ $('#ui-datepicker-div').css('z-index', 9999).addClass("blockMsg"); }
	})
	change_login = true
	$("input#id_first_name").keyup(function(){
		if(change_login){
            $("input#id_login_name").val($(this).val())
            $("input#id_login_name").blur(function(){change_login=false})
        }
	})
		
	
})

function submitForm(){
	{%if scout%}
	$("div.blockMsg").block()
	{%else%}
	$.blockUI()
	{%endif%}
	var form = $("form[name='add_scout_form']")
	values = getJsonValues(form)

	url = "/user/add_scout/"
	$.post(url,values,function(data){
		data.form = form
		{%if scout%}
    		doSuccess(data, function(){
                $("#added_message").html(values['first_name']+" Saved")
                window.location = window.location
            },function(){$("div.blockMsg").unblock()},true)
		{%else%}
    		doSuccess(data, function(){
    			 $("#added_message").html(values['first_name']+" added to {{user.profile.unit}}")
    			 $("input").val("").removeClass("error")
    			 $.unblockUI()
    		})
		{%endif%}
	})
}


</script>
{%endblock%}

{%block body%}
<form method="POST" name='add_scout_form'>
{%if scout %}
    <h1>Edit {{scout.fullname}}</h1>
    <input type="hidden" id="scout_id" name="scout_id" value='{{scout.id}}'/>
{%else%}
    <h1>Add member for Unit {{user.profile.unit}}</h1>
{%endif%}
<input type="hidden" id="unit" name="unit" value='{{user.profile.unit.id}}'/>
<input type="hidden" id="position" name="position" value='{{boyscout.id}}'/>
<input type="hidden" id="id_login_name" name="login_name" value='{{form.login_name.value}}'/>

{%if scout.google_id.value|length > 0%}
<input type="hidden" id="id_google_id" name="google_id" value='{{form.google_id.value}}'/>
{%endif%}
<label for='id_first_name'>First name:</label>{{form.first_name}}<br/>
{{form.first_name.errors}}
<label for='id_last_name'>Last name:</label>{{form.last_name}}<br/>
{{form.last_name.errors}}
<label for='id_nickname'>Nickname:</label>{{form.nickname}}<br/>
{{form.nickname.errors}}

{%if scout%}
	{%if scout.has_google_login %}
		<label for='id_email'>Email:</label>
		<input type="text" id="id_email" name="email" value="{{form.email.value}}" disabled="disabled"/><br/>
		{{form.email.errors}}
		
	    <input type="hidden" id="id_login_name" name="login_name" value='{{form.login_name.value}}'/>
	    <label for='id_login_name'>Login:</label>
	    <span class="input"><img style="text-align:center;" src="{{MEDIA_URL}}/google.png"/></span><br/>
	    {{form.login_name.errors}}
	 {%else%}
	 	<label for='id_email'>Email:</label>{{form.email}}<br/>
	 	{{form.email.errors}}
	 	
	 {%endif%}
{%else%}
	<input type="hidden" id="id_email" name="email" value='{{form.email.value}}'/>	

	
{%endif%}


<label for='id_bd_string'>Birthday:</label>

 
<input type="text" class="date" name="bd_string" value="{{scout.birthday|date:'M d, Y'}}" id="id_bd_string">

<br/>
{{form.birthday.errors}}
<label for='id_phone_number'>Phone Number:</label>{{form.phone_number}}<br/>
{{form.phone_number.errors}}
<label for='id_state'>State:</label>{{form.state}}<br/>
{{form.state.errors}}
<label for='id_city'>City:</label>{{form.city}}<br/>
{{form.city.errors}}
<label for='id_street1'>Street1:</label>{{form.street1}}<br/>
{{form.street1.errors}}
<label for='id_street2'>Street2:</label>{{form.street2}}<br/>
{{form.street2.errors}}
<label for='id_position'>Position:</label>{{form.position}}<br/>
{{form.position.errors}}
<label for='id_patrol'>Patrol:</label>{{form.patrol}}<br/>
{{form.patrol.errors}}

<div class='red' id='added_message'>&nbsp;</div>
{%if scout %}
    <div class="button" onclick='submitForm()'>Update</div>
    <div class="button" onclick='$.unblockUI()'>Cancel</div>
{%else%}
     <div class="button" onclick='submitForm()'>Add</button>
{%endif%}
</form>

{%endblock%}
