
<style>
#timeline{
	
	width:100%;
	height:40px;
	margin-bottom:10px;
}
#timeline #bar{
	background-color:#f6bc56;
	box-shadow: 5px 5px 3px #32523b;
	border-radius:5px;
	width:100%;
	height:5px;
	margin-bottom:-5px;
	position:relative;
	top:15px;
	z-index: 3;
	
	background: #aa8001; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhODAwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2ZlYmYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzhkMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #aa8001 0%, #febf01 48%, #bc8d01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa8001), color-stop(48%,#febf01), color-stop(100%,#bc8d01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aa8001 0%,#febf01 48%,#bc8d01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aa8001 0%,#febf01 48%,#bc8d01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aa8001 0%,#febf01 48%,#bc8d01 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aa8001 0%,#febf01 48%,#bc8d01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa8001', endColorstr='#bc8d01',GradientType=0 ); /* IE6-8 */
}
div.goal{
	background:url(/images/mark.png) center center;
	width:10px;
	margin-right:-10px;
	cursor:pointer;
	height:40px;
	position:relative;
	float:left;

	z-index:1;
	
}
div.goal.first_class{
	background:url(/images/rank/1class_thumb.gif) no-repeat center center ;
	width:20px;
	margin-right:-20px;
	z-index:100
}
div.goal.star{
	background:url(/images/rank/star_thumb.gif) no-repeat center center ;
	width:20px;
	margin-right:-20px;
	z-index:100
}
div.goal.life{
	background:url(/images/rank/life_thumb.gif) no-repeat center center ;
	width:20px;
	margin-right:-20px;
	z-index:100
}
div.goal.eagle{
	background:url(/images/rank/eagle_thumb.gif) no-repeat center center ;
	width:20px;
	margin-right:-20px;
	z-index:100
}

div.goal.bday{
	background:url(/images/mark2.png) center center;
	height:28px;
	margin-top:6px;
	z-index: 2;

}
#past{
	background-color:#d8e3ff;
	height:100%;
	float:left;
}
	
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip .date{
  	color:#b31e36;
  	display:block;
  	font:10px;
  	font-weight:normal;
  }
  .ui-tooltip {
  	max-width:200px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

</style>

<script type="text/javascript">
{%if scout.birthday%}

	var bday = new Date("{{scout.birthday|date:"F d, Y"}}")
	var goals = {}
	var tstart = new Date(bday.getTime())
	var tend = new Date(bday.getTime())
	
	

	
	tstart.setFullYear(bday.getFullYear()+12)
	tend.setFullYear(bday.getFullYear()+18)

	
	var ttot = tend.getTime() - tstart.getTime()
	var tline, ttop
	
	function getPlace(date){
		var postot = tline.width()
		var place = date.getTime()-tstart.getTime()
		var percentage = place/ttot
		var left = postot*percentage
		return left
	}
	
	var today = new Date()
	
	var goals
	
	{%for g in scout.goals.all%}
		goals["{{g.name}}"] = {"date":new Date("{{g.date_due|date:"F d, Y"}}"),"id":{{g.id}}, "klass":"{{g.klass}}" }
	{%endfor%}
		
	function placeGoal(name, date, klass, gid, offset){
		var offset = offset || 5
		var left = getPlace(date)-offset
		var goal = $("<div data-date=\""+date.toDateString()+"\" title=\""+name +"\" class=\"goal "+klass+"\"></div>").css({
			//"top":ttop,
			"left":left
			})
		if(gid!=null){
			goal.attr("data-id",gid)
		}
		tline.append(goal)
	}
		
	
	$(function(){
		tline = $("#timeline")
		ttop = tline.offset().top
		
		var today_pos =getPlace(today)
		$("#past").css({"width":today_pos,"marginRight":-today_pos})
		
		bdays = new Date(tstart.getTime())
		while(bdays<=tend){
			
			placeGoal("Happy Birthday", bdays, 'bday', null)
			bdays.setFullYear(bdays.getFullYear()+1)
			
		}
		
		
		for(x in goals){
			placeGoal(x, goals[x]['date'], goals[x]['klass'], goals[x]['id'], 10)
		}
		
		//placeGoal("today", new Date(), 'today', null)
		
		$("div.goal").tooltip({
			  //hide:false,
			  //show:false,
		      position: {
		          my: "center bottom-20",
		          at: "center top",
		          using: function( position, feedback ) {
		            $( this ).css( position );
		            $( "<div>" )
		              .addClass( "arrow" )
		              .addClass( feedback.vertical )
		              .addClass( feedback.horizontal )
		              .appendTo( this );
		          }
		        },
			content:function(ret){
				var t = $(this)
				return "<span class='date'>"+t.attr("data-date")+"</span>"+t.attr("title")
				}
		})
		
	})
	


{%endif%}

</script>

<div id="timeline">
	<div id="past"></div>
	<div id="bar"></div>
</div>