body{
	
}

form{
	text-align:center;
	color:#32523b;
	margin:0;
	padding:0;
}
form img{
	height:20px;
	
}
form span.input{
	display:inline-block;
	width:150px;
	margin:2px;
	padding:1px;
}

form label{
    width:120px;
    padding-right:5px;
    text-align:right;
    display:inline-block;	
}

form input, form select{
	width:150px;
	padding:1px;
	margin:2px;
	
}
form h1{
	color:#b31f36;
	padding:5px 10px;
	font-size: 1.25em;
}
form .button{
	width:100px;
	margin:10px auto;
}