.red{
	color:#b31f36;
}
.blue{
	color:#0c5994;
}
.gold{
	color:#f6bc56;
}
.grey{
	color:#616256;
}
.green{
	color:#32523b;
}

html, body, table, tr, td{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Helvetica, Neue, sans-serif;
	margin:0;
	padding:0;
}
hr{
	background-color:#005a9a;
	border-color:#005a9a;
}

#outer{
	width:1000px;
	margin:0 auto;
}
#banner{
	margin-top:10px;
}