/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url(/static/fonts/helv_heavy.woff) format('woff');
}

/* line 11, ../scss/scouts.scss */
.red {
  color: #b31f36;
}

/* line 12, ../scss/scouts.scss */
.blue {
  color: #005e9c;
}

/* line 13, ../scss/scouts.scss */
.gold {
  color: #f6bc56;
}

/* line 14, ../scss/scouts.scss */
.green {
  color: #32523b;
}

/* line 15, ../scss/scouts.scss */
.ltgreen {
  color: #efeacc;
}

/* line 17, ../scss/scouts.scss */
ol {
  list-style: decimal;
}
/* line 19, ../scss/scouts.scss */
ol ul li {
  list-style: circle;
  margin-left: 10px;
}
/* line 23, ../scss/scouts.scss */
ol li {
  list-style: decimal;
}

/* line 28, ../scss/scouts.scss */
div.ui-datepicker {
  font-size: .7em;
}

/* line 32, ../scss/scouts.scss */
#block_message {
  cursor: default;
}

/* line 35, ../scss/scouts.scss */
html, body, table, tr, td, th {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

/* line 41, ../scss/scouts.scss */
body {
  font-family: Helvetica, Neue, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/* line 47, ../scss/scouts.scss */
a, .link {
  color: #32523b;
  text-decoration: underline;
  cursor: pointer;
}

/* line 53, ../scss/scouts.scss */
hr {
  background-color: #005a9a;
  border-color: #005a9a;
}

/* line 57, ../scss/scouts.scss */
h1, legend {
  margin: 0;
  padding: 5px 0;
  color: #b31f36;
  font-size: 1.6em;
}

/* line 63, ../scss/scouts.scss */
legend {
  padding: 0;
}

/* line 66, ../scss/scouts.scss */
h2 {
  margin: 0;
  padding: 3px 0px;
  color: #005e9c;
  font-size: 1.2em;
}

/* line 72, ../scss/scouts.scss */
ul.errorlist {
  color: red;
  margin: 0;
}

/* line 76, ../scss/scouts.scss */
ul.errorlist li {
  color: red;
  margin: 0;
  padding: 0;
  font-size: smaller;
}

/* line 83, ../scss/scouts.scss */
p {
  margin: 5px 10px;
}

/* line 86, ../scss/scouts.scss */
#outer {
  width: 100%;
  height: 100%;
}

/* line 90, ../scss/scouts.scss */
#frame {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

/* line 95, ../scss/scouts.scss */
#banner {
  margin-top: 5px;
  margin-bottom: -11px;
  padding-top: 5px;
  float: none;
  clear: both;
  overflow: hidden;
  height: 32px;
}
/* line 106, ../scss/scouts.scss */
#banner h1 {
  font-family: "HelveticaNeueW01-55Roma";
  display: inline;
  font-size: 30px;
  line-height: 20px;
  vertical-align: baseline;
  position: relative;
  bottom: 0px;
  color: #000;
  padding-bottom: 0;
}
/* line 117, ../scss/scouts.scss */
#banner .rt {
  height: 20px;
  display: block;
}
/* line 121, ../scss/scouts.scss */
#banner .fbrec {
  display: inline-block;
  height: 20px;
  width: 130px;
}

/* line 129, ../scss/scouts.scss */
.rt {
  float: right;
}

/* line 133, ../scss/scouts.scss */
.button, input[type="submit"] {
  font-size: .9em;
  line-height: 14px;
  height: 20px;
  line-height: 20px;
  background-color: #f6bc56;
  padding: 0 10px;
  margin: 4px 5px;
  cursor: pointer;
  color: #b31f36;
  border: 1px outset yellow;
  font-weight: bold;
}
/* line 146, ../scss/scouts.scss */
.button:hover, input[type="submit"]:hover {
  border: 1px inset yellow;
}

/* line 151, ../scss/scouts.scss */
#donate {
  float: right;
  margin-left: 10px;
  height: 100%;
}
/* line 155, ../scss/scouts.scss */
#donate input {
  margin: auto 0px;
  width: 92px;
  height: 26px;
}

/* line 161, ../scss/scouts.scss */
.wrapper {
  overflow: auto;
  clear: both;
}

/* line 165, ../scss/scouts.scss */
#nav {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #005e9c));
  background-image: -webkit-linear-gradient(#000000, #005e9c);
  background-image: -moz-linear-gradient(#000000, #005e9c);
  background-image: -o-linear-gradient(#000000, #005e9c);
  background-image: linear-gradient(#000000, #005e9c);
  height: 30px;
  line-height: 30px;
  width: 98%;
  padding: 0 1%;
  vertical-align: middle;
  color: #fff;
  margin-bottom: 5px;
}
/* line 175, ../scss/scouts.scss */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 180, ../scss/scouts.scss */
#nav ul li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}
/* line 185, ../scss/scouts.scss */
#nav ul li a {
  text-decoration: none;
  color: #fff;
}
/* line 188, ../scss/scouts.scss */
#nav ul li a:hover {
  text-decoration: underline;
}

/* line 196, ../scss/scouts.scss */
#page_content {
  width: 100%;
  padding-bottom: 30px;
}

/* line 200, ../scss/scouts.scss */
#footer {
  text-align: right;
  width: 100%;
  max-width: 1000px;
  height: 30px;
  line-height: 30px;
  position: fixed;
  bottom: 0px;
  background-color: #002136;
  color: #f6bc56;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 214, ../scss/scouts.scss */
#footer a {
  text-decoration: None;
  color: inherit;
  padding: 2px;
}
/* line 218, ../scss/scouts.scss */
#footer a:hover {
  -webkit-box-shadow: #f6bc56 0 0 15px 5px;
  -moz-box-shadow: #f6bc56 0 0 15px 5px;
  box-shadow: #f6bc56 0 0 15px 5px;
}
/* line 224, ../scss/scouts.scss */
#footer ul li {
  margin-right: 20px;
  display: inline;
}

/* line 231, ../scss/scouts.scss */
.error {
  background-color: yellow !important;
}

/* line 234, ../scss/scouts.scss */
.float_spacer {
  width: 0;
  height: 0;
  float: none;
  clear: both;
}

/* ========== set requirement popup ==============*/
/* line 243, ../scss/scouts.scss */
#set_req_form h2 {
  color: #f6bc56;
}

/* line 246, ../scss/scouts.scss */
#set_req_form label {
  color: #cecece;
  display: inline-block;
  padding-right: 5px;
}

/* line 251, ../scss/scouts.scss */
#set_req_form textarea {
  width: 240px;
  height: 70px;
  margin: 5px 0;
  display: block;
}

/* line 257, ../scss/scouts.scss */
#set_req_form .button {
  float: left;
  width: 80px;
}

/* line 263, ../scss/scouts.scss */
#requirements div.req {
  width: 60px;
}

/* line 266, ../scss/scouts.scss */
div.req {
  text-align: center;
  float: left;
  height: 25px;
}
/* line 271, ../scss/scouts.scss */
div.req.checkbox {
  font-size: x-large;
  line-height: 25px;
}
/* line 274, ../scss/scouts.scss */
div.req.checkbox:hover {
  font-weight: bold;
}
/* line 277, ../scss/scouts.scss */
div.req.checkbox.stripe {
  background-color: #d2e4d7;
}
/* line 280, ../scss/scouts.scss */
div.req.checkbox.stripe.current_req {
  background-color: #b3d0bb;
}
/* line 284, ../scss/scouts.scss */
div.req img {
  cursor: pointer;
}
/* line 287, ../scss/scouts.scss */
div.req .empty {
  margin-top: 3px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px outset;
  background-color: #c2dac9;
}
/* line 295, ../scss/scouts.scss */
div.req .empty:hover {
  border: 2px inset;
}

/* line 302, ../scss/scouts.scss */
span.info {
  font-weight: bold;
  padding: 0 5px;
  color: #005e9c;
  cursor: pointer;
}

/* line 308, ../scss/scouts.scss */
span.info:hover {
  text-decoration: underline;
}

/* line 312, ../scss/scouts.scss */
.close_x {
  float: right;
  cursor: pointer;
  color: white;
  font-weight: bold;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #b31f36;
  line-height: 20px;
  padding: 1px 0 0 1px;
  text-align: center;
}

/* line 316, ../scss/scouts.scss */
.popup {
  background-color: #32523b;
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: 5px 5px 3px #1f3224;
  -moz-box-shadow: 5px 5px 3px #1f3224;
  box-shadow: 5px 5px 3px #1f3224;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}
/* line 326, ../scss/scouts.scss */
.popup h1 {
  color: #f6bc56;
}
/* line 329, ../scss/scouts.scss */
.popup #close_popup {
  float: right;
  cursor: pointer;
  color: white;
  font-weight: bold;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #b31f36;
  line-height: 20px;
  padding: 1px 0 0 1px;
  text-align: center;
}

/* line 335, ../scss/scouts.scss */
.pane {
  -webkit-box-shadow: 5px 5px 3px #1f3224;
  -moz-box-shadow: 5px 5px 3px #1f3224;
  box-shadow: 5px 5px 3px #1f3224;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #efeacc;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 342, ../scss/scouts.scss */
.pane h2 {
  border-bottom: 2px groove #cfecff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
/* line 347, ../scss/scouts.scss */
.pane.rank_div h2 {
  padding: none;
  margin: none;
  border-bottom: none;
}
/* line 353, ../scss/scouts.scss */
.pane .button {
  width: 100px;
  margin: 0px 0px 0px auto;
}
/* line 357, ../scss/scouts.scss */
.pane fieldset {
  padding: 10px;
}

/* line 361, ../scss/scouts.scss */
#motd {
  padding: 10px;
  text-align: center;
  background-color: #efeacc;
  color: #32523b;
  margin-bottom: 10px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  -ms-border-radius: 10;
  -o-border-radius: 10;
  border-radius: 10;
}

/* line 3, ../scss/overview.scss */
div.rank_header {
  float: left;
  width: 14%;
  height: 136px;
  text-align: center;
  padding: 5px 1px;
}

/* line 11, ../scss/overview.scss */
div.rank_header:last-of-type {
  float: right;
  margin-right: 5px;
  height: 146px;
  margin-bottom: -10px;
  padding: 5px 0;
}

/* line 18, ../scss/overview.scss */
div.rank_header img {
  display: block;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
}

/* line 24, ../scss/overview.scss */
div.scout_name {
  width: 100%;
  text-align: right;
  height: 25px;
  white-space: nowrap;
  font-size: smaller;
}
/* line 31, ../scss/overview.scss */
div.scout_name.patrol_name {
  color: #b31f36;
  font-weight: bold;
}

/* line 36, ../scss/overview.scss */
.current_rank {
  background-color: #efeacc;
  box-shadow: 5px 5px 3px #32523b;
  position: relative;
  z-index: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 44, ../scss/overview.scss */
div#requirements {
  width: 900px;
  padding: 10px;
  background-color: #efeacc;
  box-shadow: 5px 5px 3px #32523b;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 55, ../scss/overview.scss */
div#requirements .req_header {
  float: left;
  height: 20px;
  padding: 5px 0;
  cursor: pointer;
}

/* line 63, ../scss/overview.scss */
div.current_req {
  background-color: #d3cfb6;
}

/* line 66, ../scss/overview.scss */
div.current_req.stripe {
  background-color: #c3d6bc;
}

/* line 69, ../scss/overview.scss */
div#requirement_info {
  margin-top: 30px;
}

/* line 5, ../scss/userhome.scss */
div#rpane {
  width: 60%;
  float: right;
}

/* line 9, ../scss/userhome.scss */
div#lpane {
  padding: 10px;
  margin: 10px 5px 10px 0;
  background-color: #d7ca7e;
}
/* line 15, ../scss/userhome.scss */
div#lpane .button {
  width: 150px;
}
/* line 19, ../scss/userhome.scss */
div#lpane .request .button {
  display: block;
  float: right;
  width: auto;
  margin: 0 10px;
}

/* line 28, ../scss/userhome.scss */
.rank_img {
  width: 80px;
  float: right;
}

/* line 33, ../scss/userhome.scss */
.rank_div {
  width: 570px;
  margin-bottom: 10px;
  padding: 10px;
}

/* line 38, ../scss/userhome.scss */
.slide_container {
  display: none;
  position: relative;
  overflow: auto;
}

/* line 44, ../scss/userhome.scss */
.rank_table {
  float: left;
  width: 490px;
}

/* line 50, ../scss/userhome.scss */
.rank_table tr {
  height: 30px;
}

/* line 53, ../scss/userhome.scss */
h2 {
  color: #005e9c;
  cursor: pointer;
  margin: 0;
}

/* line 59, ../scss/userhome.scss */
h2 span {
  margin-right: 10px;
  color: #f6bc56;
  font-size: larger;
}

/* line 64, ../scss/userhome.scss */
span.notes {
  color: #888;
}

/* line 67, ../scss/userhome.scss */
span.date {
  color: #b31f36;
}

/* line 70, ../scss/userhome.scss */
tr.tr_notes {
  display: none;
}

/* line 73, ../scss/userhome.scss */
tr.tr_notes.full {
  display: table-row;
}

/* line 76, ../scss/userhome.scss */
div#info {
  display: none;
}

/* line 78, ../scss/userhome.scss */
.draggable {
  cursor: pointer;
  border: 1px solid #f6bc56;
  padding: 3px;
  margin: 5px 0px;
  background-color: #32523b;
  height: 20px;
}
/* line 86, ../scss/userhome.scss */
.draggable a {
  line-height: 20px;
  color: #f6bc56;
  text-decoration: none;
}
/* line 90, ../scss/userhome.scss */
.draggable a:hover {
  text-decoration: underline;
}
/* line 94, ../scss/userhome.scss */
.draggable:hover {
  border: 1px solid #005e9c;
}
/* line 97, ../scss/userhome.scss */
.draggable img {
  float: right;
  position: relative;
  top: -2px;
}

/* line 104, ../scss/userhome.scss */
.drop_active {
  -webkit-box-shadow: #f6bc56 0 0 10px 5px;
  -moz-box-shadow: #f6bc56 0 0 10px 5px;
  box-shadow: #f6bc56 0 0 10px 5px;
}
/* line 106, ../scss/userhome.scss */
.drop_active.drop_hover {
  -webkit-box-shadow: #005e9c 0 0 10px 5px;
  -moz-box-shadow: #005e9c 0 0 10px 5px;
  box-shadow: #005e9c 0 0 10px 5px;
}

/* line 112, ../scss/userhome.scss */
div.request p {
  margin: 3px 0 0 3px;
  color: grey;
}

/* line 119, ../scss/userhome.scss */
ul.scoutList li {
  margin: 3px 0;
}

/* line 125, ../scss/userhome.scss */
#unit_invites li {
  height: 24px;
}
