/* line 5, ../scss/userhome.scss */
div#rpane {
  width: 60%;
  float: right;
}

/* line 9, ../scss/userhome.scss */
div#lpane {
  padding: 10px;
  margin: 10px 5px 10px 0;
  background-color: #d7ca7e;
}
/* line 15, ../scss/userhome.scss */
div#lpane .button {
  width: 150px;
}
/* line 19, ../scss/userhome.scss */
div#lpane .request .button {
  display: block;
  float: right;
  width: auto;
  margin: 0 10px;
}

/* line 28, ../scss/userhome.scss */
.rank_img {
  width: 80px;
  float: right;
}

/* line 33, ../scss/userhome.scss */
.rank_div {
  width: 570px;
  margin-bottom: 10px;
  padding: 10px;
}

/* line 38, ../scss/userhome.scss */
.slide_container {
  display: none;
  position: relative;
  overflow: auto;
}

/* line 44, ../scss/userhome.scss */
.rank_table {
  float: left;
  width: 490px;
}

/* line 50, ../scss/userhome.scss */
.rank_table tr {
  height: 30px;
}

/* line 53, ../scss/userhome.scss */
h2 {
  color: #005e9c;
  cursor: pointer;
  margin: 0;
}

/* line 59, ../scss/userhome.scss */
h2 span {
  margin-right: 10px;
  color: #f6bc56;
  font-size: larger;
}

/* line 64, ../scss/userhome.scss */
span.notes {
  color: #888;
}

/* line 67, ../scss/userhome.scss */
span.date {
  color: #b31f36;
}

/* line 70, ../scss/userhome.scss */
tr.tr_notes {
  display: none;
}

/* line 73, ../scss/userhome.scss */
tr.tr_notes.full {
  display: table-row;
}

/* line 76, ../scss/userhome.scss */
div#info {
  display: none;
}

/* line 78, ../scss/userhome.scss */
.draggable {
  cursor: pointer;
  border: 1px solid #f6bc56;
  padding: 3px;
  margin: 5px 0px;
  background-color: #32523b;
  height: 20px;
}
/* line 86, ../scss/userhome.scss */
.draggable a {
  line-height: 20px;
  color: #f6bc56;
  text-decoration: none;
}
/* line 90, ../scss/userhome.scss */
.draggable a:hover {
  text-decoration: underline;
}
/* line 94, ../scss/userhome.scss */
.draggable:hover {
  border: 1px solid #005e9c;
}
/* line 97, ../scss/userhome.scss */
.draggable img {
  float: right;
  position: relative;
  top: -2px;
}

/* line 104, ../scss/userhome.scss */
.drop_active {
  -webkit-box-shadow: #f6bc56 0 0 10px 5px;
  -moz-box-shadow: #f6bc56 0 0 10px 5px;
  box-shadow: #f6bc56 0 0 10px 5px;
}
/* line 106, ../scss/userhome.scss */
.drop_active.drop_hover {
  -webkit-box-shadow: #005e9c 0 0 10px 5px;
  -moz-box-shadow: #005e9c 0 0 10px 5px;
  box-shadow: #005e9c 0 0 10px 5px;
}

/* line 112, ../scss/userhome.scss */
div.request p {
  margin: 3px 0 0 3px;
  color: grey;
}

/* line 119, ../scss/userhome.scss */
ul.scoutList li {
  margin: 3px 0;
}

/* line 125, ../scss/userhome.scss */
#unit_invites li {
  height: 24px;
}
