{%extends 'page_template.html'%}

{% block content%}

{%if user.profile.troop.calendar%}
<br/>
<center>

<iframe src="https://www.google.com/calendar/b/0/embed?title=Troop%20{{user.profile.troop}}&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{user.profile.troop.calendar}}&amp;color=%238D6F47&amp;ctz=America%2FDenver" 
style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

</center>
{%else%}
    {%if user.profile.troop%}
    <p>Add a Calendar</p>
    {%else%}
    <p>
    You must be a member of a troop to add a calendar.
    </p>
    {%endif%}
{%endif%}
{%endblock%}