{%extends 'page_template.html'%}

{%block head%}
<style>
table{

}
div.rank_header{
    float:left;
    width:14%;
    height:136px;
    text-align:center;
    padding:10px 0;
    
}
div.rank_header img{
    display:block;
    width:100px;
    margin:0 auto;
    cursor:pointer;
}
div.scout_name{
    width:100%;
    text-align:right;
}
.current_rank{
    background-color:#efeacc;
    box-shadow: 10px 10px 5px #32523b;
    position:relative;
    z-index:0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
div#requirements{
    width:922px;
    padding:10px;
    background-color:#efeacc;
    box-shadow: 10px 10px 5px #32523b;
    position:relative;
    z-index:1;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}
div#requirements .req_header{
    float:left;
    height:30px;
}
div#requirements .req{
    width:60px;
    text-align:center;
    float:left;
}
</style>

<script>
var rank = 1
var req = 1

$(function(){
	get_rank(rank)
	$("img.rank_head").click(function(){
		rank = this.id.split('rank_head_')[1]
		get_rank(rank)
	})
	/*
	$(".r1").addClass('current')
	$('#requirement_info').load("/requirement/info/1/")
	$("th img").click(function(){
		req = $(this).parent('th').attr('class').split('r')[1]
		$('.current').removeClass('current')
		$('.r'+req).addClass('current')
		$('#requirement_info').load("/requirement/info/"+req+"/")
	})
	$('td.user_requirement').click(function(e){
		t = $(this)
		c = t.attr('class')
		arr = c.split(' ')
		r = arr[1].split('r')[1]
		m = arr[2].split('m')[1]
		api = '/requirement/set/'+r+'/'+m+'/'
		$.get(api,function(data){
			doSuccess(data, function(){alert('success')})
		})
		
	})*/
})

function get_rank(rid){
	$(".current_rank").removeClass("current_rank")
	$("#rank_head_"+rid).parent('div').addClass('current_rank')
	$('div#requirements').load('/requirement/rank_requirements/'+rid+"/")
}

</script>
{%endblock%}

{%block content%}
<table width="100%" border="1">
    <tr width="100%">
        <td></td>
        <td>
            
            {%for r in ranks%}
            <div class="rank_header">
                <img class="rank_head" id="rank_head_{{r.id}}" src='{{MEDIA_URL}}{{r.patch}}' title="click to view requirements for {{r}}"/>
                {{r.name}}
            </div>
            {%endfor%}
            
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding-top:40px;padding-right:10px;">
        {%for scout in troop.scouts%}              
            <div class="scout_name" id='scout_{{scout.pk}}'><a href="/user/{{scout.pk}}/">{{scout}}</a>:</div>
        {%endfor%}   
        </td>
        <td valign="top">
            <div id='requirements'>
            &nbsp;
            </div>
        </td>
    </tr>


</table>
<div id="requirement_info">

</div>  

           
    
   
    
{%endblock%}