{% load scouttags%}
{%for r in rank.requirements.all%}
    <div class='req req_header' id="r_{{r.pk}}" title="{{r.short_desc}}"><span class="button">#{{r.order}}</span></div>
{%endfor%}
     <div class="float_spacer">&nbsp;</div>
{%if unit%}
	{%for patrol in patrols%}
	<div style="width:900px;height:25px;">&nbsp;</div>
	    {%for scout in patrol.patrol_members.all%}
	        
	        {%for r in rank.requirements.all%}
	            <div class='req s_{{scout.pk}} r_{{r.pk}} checkbox {%if forloop.parentloop.counter|divisibleby:2%}stripe{%endif%}'>
	            {%if r.id in member_list|attribute:scout.pk%}<img src='{{MEDIA_URL}}check.png'/>
	            {%else%}<span class='empty'>&nbsp;</span>{%endif%}
	            </div>
	        {%endfor%}    
	        <div class="float_spacer" >&nbsp;</div>
	    {%endfor%}  
	{%endfor%}
{%else%}  
    {%if user.profile.position.youth%}
    
        {%for r in rank.requirements.all%}
            <div class='req s_{{user.profile.pk}} r_{{r.pk}} checkbox'>
            {%if r.id in member_list|attribute:user.profile.pk%}<img src='{{MEDIA_URL}}check.png'/>
            {%else%}<span class='empty'>&nbsp;</span>{%endif%}
            </div>
        {%endfor%}
        <div class="float_spacer" >&nbsp;</div>
    
    {%endif%}
{%endif%}