<html>
    <head>
    <LINK REL=StyleSheet HREF="/css/scouts.css" TYPE="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/js/scouts.js"></script>
    {%block head%}
    {%endblock%}
    {%csrf_token%}
    </head>
    <body>
        <div id="outer">
            {%block nav%}
                {%include "nav.html"%}
            {%endblock%}
            {%block body%}  
            {%endblock%}
        </div>
    </body>
</html>