<html>
    <head class="{{edit}}">
    {%if not edit%}
    <LINK REL=StyleSheet HREF="/css/scouts.css" TYPE="text/css"/>
    <LINK REL=StyleSheet HREF="/css/jquery-ui-1.10.3.css" TYPE="text/css"/>
    <LINK REL=StyleSheet HREF="/css/forms.css" TYPE="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery_ui_min.js"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/js/myscript.js"></script>
    <script type="text/javascript" src="/js/scouts.js"></script>
    <script>
    var is_authenticated = {{user.is_authenticated|lower}}
    </script>
    
    {%include "facebook_crap.html"%}
    
    
    {%endif%}
    {%block head%}
    
    {%endblock%}
    {%csrf_token%}
    </head>
    <body>
    <div id="fb-root"></div>
    {%block body%}
        
    {%endblock%}
    
    </body>
    
    
</html>