<script>
      window.fbAsyncInit = function() {
	      FB.init({
	        appId      : '{{facebook_appid}}', // App ID
	        channelUrl : '//ultimatescouttracker.com/static/channel.html', // Channel File
	        status     : true, // check login status
	        cookie     : true, // enable cookies to allow the server to access the session
	        xfbml      : true  // parse XFBML
	      });
	 	// Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
	    // for any authentication related change, such as login, logout or session refresh. This means that
	    // whenever someone who was previously logged out tries to log in again, the correct case below 
	    // will be handled. 
	    /*
	    FB.Event.subscribe('auth.login', function(response) {
	    	alert("login detected")
	      if (response.status === 'connected') {
	    	  
	        // The response object is returned with a status field that lets the app know the current
	        // login status of the person. In this case, we're handling the situation where they 
	        // have logged in to the app.
	        fblogin(response.authResponse)
	      } 
	    });*/
    };
    
    function fblogin(response){
    	console.log(response.authResponse)
    	$.post("/fblogin/",response, function(data){
    		console.log(data)
    		if(!data.success){
    			if(data.message.lastIndexOf("no user")>=0){
    				makeFbUser()	
    			}else{
    				alert(data.message)
    			}
    		}else{
    			window.location = "/"
    		}
    	})
    }
    
    
    function makeFbUser(){
    	FB.api('/me', function(response) {
       		console.log(response)
         	console.log('Good to see you, ' + response.name + '.');
       		fblogin(response)
        });
    }
    /*
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
       		console.log(response)
          console.log('Good to see you, ' + response.name + '.');
        });
      }
    */
    
    // Load the SDK asynchronously
    (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
    }(document));
    
    </script>