{%extends 'page_template.html'%}

{%block head%}


<LINK REL=StyleSheet HREF="/css/forms.css" TYPE="text/css"/>
<style>
   div#login{       
    width:800px;
    margin:30px auto;
    overflow:hidden;       
   }
   div#login td{
     color:#b31f36;      
   }
   #oquth_login{
    width:40%;
    padding:0 5%;
    float:left;
   }
   #oquth_login li{
   	float:left;
   	height:30px;
   	margin:5px;
   }
   #local_login{
    width:40%;
    padding:0 4%;
    float:right;
    border-left:1px solid black;
   }

   #local_login input{
     margin-left:5px;
   }
</style>
<script>
var google_client_id = "{{google_client_id}}"

function facebook_login(){
	$.blockUI()
	FB.login(function(response) {
		if(response.status === 'connected'){ 
			fblogin(response.authResponse)
		}else{
		   $.unblockUI()
		}
	}, {scope: 'email'});
	
}

function google_login(){
	$.blockUI()
	var gdiv = $("#google_login_div")
	url = "https://accounts.google.com/o/oauth2/auth?"+
			"scope=https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile&"+
			"state=/profile&"+
			"redirect_uri=http://ultimatescouttracker.com/oauth2callback&"+
			"response_type=code&"+
			"client_id={{google_client_id}}"
	window.location = url
	//gwin = window.open(url, 'google_oauth', 'width=700, height=400, location=0')
}

</script> 
{%endblock%}
    
{%block content%}   
<!-- <a href="mailto:scoutmaster@ultimatescouttracker.com">contact me</a> -->
<div id="login" class="pane">
    <div id="oquth_login">
        <h2>Login with an existing social media account</h2>
        
        <ul>
        	<li><a href="javascript:google_login()"><img src="{{MEDIA_URL}}google.png" height="25"/></a></li>
        	<li><a href="javascript:facebook_login()"><img src="{{MEDIA_URL}}facebook_login.png" height="25"/></a></li>
        </ul>
        
        
    </div>
    <div id="local_login">      
        <h2>Don't use or like social websites? Login locally</h2>
            <form class="block" method="POST" action="/login/" id="loc_login_form">
            {%csrf_token%}

            	{%if login_error%}
            	<div class="error">{{login_error}}</div>
            	{%endif%}
               <label>Email:</label><input type="text" id="login_username" name="login"/>
               <label>Password:</label><input type="password" id="login_password" name="password"/>
               <div class="button" style="margin:10px auto;" onclick="login_user()">login</div>
               <a href="/register">register for a new account</a>
            </form>
           
    </div>  
</div>

{%endblock%}