<div id="banner">
    <span class='rt'>{{user.first_name}} {{user.last_name}} : {{ user.profile.troop }}</span>
    <h1>The Ultimate Scout Tracker</h1>
</div>
<div id='nav' class='grade'>
    
{% if user.is_authenticated %}
    <div class="button rt red" onclick="logout()">logout</div>
    {%if perms.userprofile.add_scout%}
    <div class="button rt" id='add_scout_btn'>Add Member</div>
    {%endif%}

    
{%endif%}
    {%if user.is_authenticated%}

    <ul>
        <li><a href="/user">Home</a></li>
        {%if perms.userprofile.add_scouts or perms.userprofile.add_leaders%}
        <li id="troop_stats"><a href="/troop/overview/">Troop</a></li>
        {%endif%}
        <li><a href="/troop/calendar/">Calendar</a></li>
    </ul>
    {%endif%}
</div>
