<div id="banner">
    <span class='rt'>{{user.first_name}} {{user.last_name}} {%if user.profile.troop%}: user.profile.troop {%endif%}</span>
    <h1>Ultimate Scout Tracker</h1>
</div>
<div id='nav' class='grade'>
    
    
{% if user.is_authenticated %}
    <div class="button rt red" onclick="logout()">logout</div>
    {%if perms.userprofile.add_scout%}
    <div class="button rt" id='add_scout_btn'>Add Member</div>
    {%endif%}

    
{%endif%}
     <ul>
        <li><a href="/user">Home</a></li>
        {%if user.is_authenticated%}
    
       
    
            <li id="troop_stats"><a href="/troop/overview/">Troop</a></li>
    
            <li><a href="/troop/calendar/">Calendar</a></li>
        
        {%endif%}
    </ul>
</div>
