<div id="banner">
    <span class='rt'>{{user.profile.name}} {%if user.profile.unit%}: {{user.profile.unit.number}} {%endif%}</span>
    <h1>Ultimate Scout Tracker</h1>
</div>
<div id='nav' class='grade'>
    
    
{% if user.is_authenticated %}
    <div class="button rt red" onclick="logout()">logout</div>

    {%if perms.userprofile.add_scouts%}
    <div class="button rt" id='add_scout_btn'>Add Member</div>
    {%endif%}

    
{%endif%}
     <ul>
        <li><a href="/user">Home</a></li>
        {%if user.is_authenticated%}
    
       
    
            <li id="unit_stats"><a href="/unit/overview/">Overview</a></li>
    
            <li><a href="/unit/calendar/">Calendar</a></li>
        
        {%endif%}
    </ul>
</div>
