$default-border-radius:5px;

$red:#b31f36;
$blue:#005e9c;
$gold:#f6bc56;
$green:#32523b;
$tan:#efeacc;


$default-box-shadow-color:darken($green,10%);
$default-box-shadow-h-offset:5px;
$default-box-shadow-v-offset:5px;
$default-box-shadow-blur:3px;