@import "_base";

div.rank_header{
    float:left;
    width:14%;
    height:136px;
    text-align:center;
    padding:5px 1px;
    
}
div.rank_header:last-of-type{
    float:right;
    margin-right:5px;
    height:146px;
    margin-bottom:-10px;
    padding:5px 0;
}
div.rank_header img{
    display:block;
    width:100px;
    margin:0 auto;
    cursor:pointer;
}
div.scout_name{
    width:100%;
    text-align:right;
    height:24px;
    white-space: nowrap;
    font-size:smaller;
}
.current_rank{
    background-color:$tan;
    box-shadow: 5px 5px 3px $green;
    position:relative;
    z-index:0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
div#requirements{
    width:900px;
    padding:10px;
    background-color:$tan;
    box-shadow: 5px 5px 3px $green;
    position:relative;
    z-index:1;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}
div#requirements .req_header{
    float:left;
    height:20px;
    padding:5px 0;
    cursor:pointer;
}


div.current_req{
    background-color:#d3cfb6;
}
div.current_req.stripe{
    background-color:#c3d6bc;
}
div#requirement_info{
    margin-top:30px;
    
}