@import "_base";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

div#rpane{
    width:60%;
    float:right;
}
.rank_img{
    width:80px;
    float:right;
    
}
.rank_div{
    width:570px;
    margin-bottom:10px;
    
    background-color:$tan;
    @include box-shadow;
    @include border-radius;
    padding:10px;
}
.slide_container{
    display:none;
    position:relative;
    overflow:auto;
}
.rank_table{
    float:left;
    width:490px;

 
}
.rank_table tr{
    height:30px;
}
h2{
    color:$blue;
    cursor:pointer;
    margin:0;
}
h2 span{
    margin-right:10px;
    color:$gold;
    font-size:larger;
}
span.notes{
    color:#888;
}
span.date{
    color:$red;
}
tr.tr_notes{
    display:none;
}
tr.tr_notes.full{
    display:table-row;
}
div#info{display:none;}
div#user_help{
	float:right;
	width:70%;
}
.draggable{
	cursor:pointer;
	border:1px solid $gold;
	padding:3px;
	margin:5px 0px;
	background-color:$green;
	height:20px;
	
	& a{
		line-height:20px;
		color:$gold;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
	&:hover{
		border:1px solid $blue;
	}
	& img{
		float:right;
		position:relative;
		top:-2px;
	}
}

.drop_active{
	@include box-shadow($gold 0 0 10px 5px);
	&.drop_hover{
		@include box-shadow($blue 0 0 10px 5px);
	}
}