
	<br/> 		
 	<form id="unit_form">
 		<label>Council Name:</label>{{form.council_name}}<br/>
 		<label>Unit Number:</label>{{form.number}}<br/>
 		<label>My Role:</label><select name="user_role">
 		{%for role in roles%}
 			<option value="{{role.id}}">{{role}}</option>
 		{%endfor%}
 		</select><br/>
 		<label>Notes:</label>{{form.description}}
 		<div class="button" onclick="request_unit()" style="width:150px; margin:0 auto;margin-top:10px;">Create</div>
 	</form>	
 	{{form.from_table}}
 
