{%extends 'page_template.html'%}
{% load custom_tags %}

{%block head%}
<style>


</style>

<script>
var rank = 1
var req = 1

$(function(){
	get_rank(rank)
	
	$("img.rank_head").on('click',function(){
		rank = this.id.split('rank_head_')[1]
		get_rank(rank)
	})

})

function post_load(){
	req = $("div.req_header")[0].id.split('r_')[1]
	get_req(req)
	
	$("div.req_header").on('click',function(){
        req = this.id.split('r_')[1]
        get_req(req)
    })
    
    
	{%if perms.userprofile.mark_requirements%}
    $('.req.checkbox').on('click',function(){
    	
    	openRecForm($(this),{prefunc:function(req){
    		get_req(req)
    	}})
    })
    {%endif%}
    $('div#requirements').unblock()
}
function get_rank(rid){
	$('#set_req_form').hide()
	$('div#requirements').block()
	$(".current_rank").removeClass("current_rank")
	$("#rank_head_"+rid).parent('div').addClass('current_rank')
	$('div#requirements').load('/requirement/rank_requirements/'+rid+"/", post_load)
	
}
function get_req(rid){
	$('.current_req').removeClass('current_req')
    $('div.req.r_'+rid).addClass('current_req')
    $('div#r_'+rid).addClass('current_req')
    $('#requirement_info').load("/requirement/info/"+rid+"/")
}
</script>
{%endblock%}

{%block content%}
<table width="100%" border="1">
    <tr width="100%">
        <td></td>
        <td>
            
            {%for r in ranks%}
            <div class="rank_header">
                <img class="rank_head" id="rank_head_{{r.id}}" src='{{MEDIA_URL}}{{r.patch}}' title="click to view requirements for {{r}}"/>
                {{r.name}}
            </div>
            {%endfor%}
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding-top:43px;padding-right:5px;width:70px">
        {% if unit %}
	        {% for patrol in patrols %}
	       
	        	<div class="scout_name patrol_name" id='scout_{{scout.user.pk}}'>
	                {{patrol.name|truncate_chars:10}}
	            </div>
	         
	            {% for scout in patrol.patrol_members.all %}              
	                <div class="scout_name" id='scout_{{scout.user.pk}}'>
	                <a href="/user/{{scout.user.pk}}/" title="{{scout.name}}">{{scout.name|truncate_chars:10}}</a>:</div>
	            {% endfor %} 
	        {% endfor %}
        {% else %}
            {% if user.profile.position.youth %}
            <div class="scout_name" id='scout_{{user.pk}}'>
            <a href="/user/{{user.pk}}/" title="{{user.profile.name}}">{{user.profile.name|truncate_chars:10}}</a>:</div>
            {% endif %}
        {% endif %}  
        </td>
        <td valign="top">
            <div id='requirements'>
            &nbsp;
            </div>
        </td>
    </tr>


</table>
<div id="requirement_info">
</div>  

           
<div id="set_req_form" class="popup">
</div>    
   
    
{%endblock%}